.container{
	position: relative;
}
.preview{
	display: table;
	z-index: 100;
	width: 500px;
	height: 180px;
	border: 1px solid #e1e1e1;
	background: #fff;
	margin-top:10px;
	-webkit-box-shadow: 0 5px 6px -6px black;
	   -moz-box-shadow: 0 5px 6px -6px black;
	        box-shadow: 0 5px 6px -6px black;
}
.z-input-center{
	/*position: absolute;
	/*top:45%;*/
	/*margin:auto;
	top: 0; left: 0; bottom: 0; right: 0;*/*/
    width: 170px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin:auto;
    
}
.z-input-preview{
    width: 170px;
    margin:auto;
    border-color:#262626;
    color:#262626;
}
.controls{
	width: 500px;
	/*height: 400px;*/
	margin-top: 10px;
	border:1px solid #e1e1e1;
	background: white;
}
.code-preview{
	width: 440px;
	height: 170px;
	position: absolute;
	right: 0px;
	top:0px;
	background: #262626;
	padding: 5px;
	font-size: 12px;
	line-height: 17px;
	-webkit-box-shadow: 0 5px 6px -6px black;
   -moz-box-shadow: 0 5px 6px -6px black;
        box-shadow: 0 5px 6px -6px black;
}
.code-preview-2{
	width: 490px;
	height: 170px;
	margin: auto;
	margin-top:10px;
	background: #262626;
	padding: 5px;
	font-size: 12px;
	line-height: 17px;
	-webkit-box-shadow: 0 5px 6px -6px black;
   -moz-box-shadow: 0 5px 6px -6px black;
        box-shadow: 0 5px 6px -6px black;
}
.code-preview-3{
	/*-webkit-transition: all 2s;*/
 /*   -moz-transition: all 2s;*//*
    -o-transition: all 2s;
    transition: all 2s;*/
	width: 432px;
	height: 170px;
	margin: auto;
	background: #262626;
	padding: 5px;
	font-size: 12px;
	line-height: 17px;
	-webkit-box-shadow: 0 5px 6px -6px black;
   -moz-box-shadow: 0 5px 6px -6px black;
        box-shadow: 0 5px 6px -6px black;
}
.saved{
	width: 300px;
	border:1px solid #e1e1e1;
	background-color: #92F396;
	padding: 20px;
	margin:auto;
	margin-top: 10px;
	text-align: center;
}
.inputs{
	border:none;
	border-right:18px solid #fff;
	width: 60px;
	height: 100%;
	padding-left: 3px;
	float: right;
}
.colorsInput{
	background: #262626;
    color:white;
    float: left;
    padding-left: 10px;
    font-size: 12px;
    margin:5px;
    margin-left: 30px;
    width: 197px;
}
.colorLabel{
	position: relative;
	top:3px;
}
.z-colors{
	width: 100%;
}
.titleHead{
	width: 100%;
	padding: 5px 0 5px 0;
	background: #262626;
	color:white;
	margin-bottom: 10px;
}
.clear{
	clear:both;
}
.space{
	margin-top:10px;
}
.z-radio{
	width: 130px;
	float: left;
	padding: 5px;
}
.z-radio-container{
	padding-left: 60px;
}
.sliderContainer{
	width: 300px;
	float: left;
	margin:5px;
}
.sliderVal{
	width: 20px;
	float: right;
}
.ui-widget-header{
	background: #262626 !important;
}
.slider{
	width: 120px;
	float: left;
	position: relative;
	top:8px;
	margin-left: 15px;
}
.ui-slider .ui-slider-handle{
	width: 13px;
	height:13px;
}
.ui-slider-horizontal{
	height: 5px;
}
.sliderText{
	display: inline-block;
	width: 115px;
	padding-top: 4px;
	float: left;
}
.borderSliders{
	margin-left: 100px;
}
.cssPreview{
padding-left: 5px;
}
.className{
	color:#06ff09;
}
.breakets{
	color:white;
	padding-left: 5px;
}
.attribute{
	color:#069BFF;
}
.twoDots{
	color:white;
	padding-left: 3px;
}
.attributeValue{
	color:#A700C7;
	padding-left: 3px;
}
.saveContainer{
	height: 170px;
	position: absolute;
	right: 0px;
	top:190px;
}
.saveData{
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: #262626;
	background: -moz-linear-gradient(
		top,
		#4e4e4e 0%,
		#555555 25%,
		#212121);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#4e4e4e),
		color-stop(0.25, #555555),
		to(#212121));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);

}
.saveData:hover{
	-moz-box-shadow:
		0px 1px 3px rgba(255,255,255,0.7),
		inset 0px 0px 2px rgba(000,000,000,0.5);
	-webkit-box-shadow:
		0px 1px 3px rgba(255,255,255,0.7),
		inset 0px 0px 2px rgba(000,000,000,0.5);
	box-shadow:
		0px 1px 3px rgba(255,255,255,0.7),
		inset 0px 0px 2px rgba(000,000,000,0.5);

}